h1 {
  color: yellow;
  text-decoration: underline;
}

h2 {
  color: blue;
  text-decoration: line-through;
  font-family: fantasy;
}

h3 {
  color: green;
  border-radius: 15px;
}

p {
  color: pink;
  font-style: italic;
  font-weight: bold;
}

body {
  background-color: lime;
}
