h1 {
  color: limegreen;
  text-decoration: overline;
}
h2 {
  color: darkblue;
  font-family: monospace;
}

h3 {
  color: yellow;
  font-style: italic;
  font-family: sans-serif;
}

p {
  color: orange;
  font-family: cursive;
}

body {
  text-align: center;
  background-color: pink;
}
